---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
    <p class="post-meta">{{ page.date | date: "%Y年%-m月%-d日" }} {{ page.categories |
category_links }}</p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
</article>

{% if page.previous or page.next %}
<nav>
  <ul class="pager">
    {% if page.previous %}
    <li class="previous">
      <a rel="prev" href="{{ page.previous.url | prepend: site.baseurl }}"
        title="{{ page.previous.title | escape }}">&laquo; 前一篇</a>
    </li>
    {% endif %}

    {% if page.next %}
    <li class="next">
      <a rel="next" href="{{ page.next.url | prepend: site.baseurl }}"
        title="{{ page.next.title | escape }}">后一篇 &raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
